docs/n8n/crm-ai-priorities-workflow.json
{
  "name": "CRM → IA Priorités du jour",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }] }
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "name": "Cron quotidien 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-ai-priorities",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000002",
      "name": "Webhook refresh manuel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "crm-ai-priorities"
    },
    {
      "parameters": {
        "url": "={{ $json.body && $json.body.userId ? $env.CRM_URL + '/api/ai/export?userId=' + $json.body.userId : $env.CRM_URL + '/api/ai/export' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.N8N_WEBHOOK_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000003",
      "name": "GET Export CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 250]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agent = $json;\nconst lines = agent.prospects.map((p) => {\n  return `- id: ${p.id}\\n  nom: ${p.prenom || ''} ${p.nom}\\n  statut: ${p.statut || 'aucun'}\\n  criteres: ${JSON.stringify(p.criteres)}\\n  notes: ${p.notes || 'aucune'}\\n  tags: ${p.tags.join(', ') || 'aucun'}\\n  taches_ouvertes: ${JSON.stringify(p.tachesOuvertes)}\\n  historique_recent: ${JSON.stringify(p.historiqueRecent)}\\n  derniere_activite: ${p.derniereActivite}`;\n}).join('\\n\\n');\n\nconst prompt = `Tu es un assistant commercial immobilier. Pour chaque prospect ci-dessous, donne un score CHAUD, TIEDE ou FROID et une raison courte (1-2 phrases, en français) expliquant pourquoi le contacter aujourd'hui ou non.\\n\\nProspects:\\n${lines}\\n\\nRéponds UNIQUEMENT avec un JSON valide, un tableau d'objets {\\\"prospectId\\\": string, \\\"score\\\": \\\"CHAUD\\\"|\\\"TIEDE\\\"|\\\"FROID\\\", \\\"raison\\\": string}, sans texte autour.`;\n\nreturn { json: { userId: agent.userId, prompt } };"
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000005",
      "name": "Construire le prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 250]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "claude-haiku-4-5", "mode": "list" },
        "messages": {
          "values": [{ "content": "={{ $json.prompt }}" }]
        },
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000006",
      "name": "Claude Haiku",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [1120, 250],
      "credentials": {
        "anthropicApi": {
          "id": "REMPLACER_PAR_ID_CREDENTIAL",
          "name": "Anthropic CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Note: ce node reste en mode \"Run Once for All Items\" (pas runOnceForEachItem) car il doit\n// produire PLUSIEURS items de sortie (un par prospect, toutes agences confondues) à partir de\n// PLUSIEURS items d'entrée (un par agent) — n8n interdit de retourner un tableau en mode\n// runOnceForEachItem. On boucle donc explicitement sur $input.all() pour traiter chaque agent,\n// au lieu de ne lire que $json (qui ne référence que le premier item).\nlet parsed = [];\nfor (const item of $input.all()) {\n  const json = item.json;\n  try {\n    const text = json.message?.content?.[0]?.text || json.output?.[0]?.text || json.content?.[0]?.text || json.text || '';\n    const entries = JSON.parse(text);\n    if (Array.isArray(entries)) {\n      parsed = parsed.concat(entries);\n    }\n  } catch (e) {\n    // Réponse malformée pour cet agent : ce lot est simplement ignoré, sans faire échouer les autres agents.\n  }\n}\nreturn parsed.map((entry) => ({ json: entry }));"
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000007",
      "name": "Parser la réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 250]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000008",
      "name": "Agréger tous les agents",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1560, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_URL }}/api/ai/priorities/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.N8N_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000009",
      "name": "Callback CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 250]
    }
  ],
  "connections": {
    "Cron quotidien 6h": {
      "main": [[{ "node": "GET Export CRM", "type": "main", "index": 0 }]]
    },
    "Webhook refresh manuel": {
      "main": [[{ "node": "GET Export CRM", "type": "main", "index": 0 }]]
    },
    "GET Export CRM": {
      "main": [[{ "node": "Construire le prompt", "type": "main", "index": 0 }]]
    },
    "Construire le prompt": {
      "main": [[{ "node": "Claude Haiku", "type": "main", "index": 0 }]]
    },
    "Claude Haiku": {
      "main": [[{ "node": "Parser la réponse", "type": "main", "index": 0 }]]
    },
    "Parser la réponse": {
      "main": [[{ "node": "Agréger tous les agents", "type": "main", "index": 0 }]]
    },
    "Agréger tous les agents": {
      "main": [[{ "node": "Callback CRM", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
